<!DOCTYPE html>
{% load static %}
{% load i18n %}
{% load active_link_tags %}
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <!--Material icons ( google font icon)-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons+Round"
    rel="stylesheet">
    <!--Stylesheet-->
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'dash/style.css' %}">
    {% endblock %}
</head>
<body>
    <div class="container"><!--left & main & right (grid-columns)-->
        {% include 'base/nav.html' %}
            <main>
                {% block contenue %}
                {% endblock %}
            </main>
        {% include 'base/right.html' %} 

    </div>
    <script src="{% static 'dash/script.js' %}"></script>
</body>
</html>
