{% load static %}
{% load active_link_tags %}
        <aside><!--entire left grid-->
            <div class="top"><!--conteneur (img logo + brandname) qui prend toute la largeur-->
                <div class="logo"><!--img logo + brandname-->
                    <img src="{% static 'dash/images/random/logo.png' %}" alt=""><!--img logo-->
                    <h2>DOG<span class="brandname">LOG</span></h2><!--brandname-->
                </div>
                <div class="close" id="close-btn"><span class="material-icons-round">cancel</span><!--close-btn (hidden in web)-->
                </div>                
            </div>
            <div class="sidebar"><!--contenur du SIDEBAR-->
                <a class="{% active_link 'dash:index' strict=True %}" href="{% url 'dash:index' %}"><span class="material-icons-round">space_dashboard</span><!--icone du SIDEBAR-->
                    <h3>Dashboard</h3>
                </a><!--lien du SIDEBAR-->
                <a class="{% active_link 'dash:journal'  %}" href="{% url 'dash:journal' %}"><span class="material-icons-round">format_list_bulleted</span>
                    <h3>Journal</h3>
                </a>
                <a class="{% active_link 'dash:profil'  %}" href="{% url 'dash:profil' %}"><span class="material-icons-round">pets</span>
                    <h3>Profil</h3>
                </a>
                <!-- <a class="{% active_link 'dash:maps'  %}" href="{% url 'dash:maps' %}"><span class="material-icons-round">place</span>
                    <h3>Maps</h3>
                </a>
                <a class="{% active_link 'dash:budget'  %}" href="{% url 'dash:budget' %}"><span class="material-icons-round">savings</span>
                    <h3>Budget</h3>
                </a>
                <a class="{% active_link 'dash:objectif'  %}" href="{% url 'dash:objectif' %}"><span class="material-icons-round">outlined_flag</span>
                    <h3>Objectif</h3>
                    <span class="objectif-count">2</span>
                </a> -->
                <a class="{% active_link 'dash:parametres'  %}" href="{% url 'dash:parametres' %}"><span class="material-icons-round">settings</span>
                    <h3>Paramètres</h3>
                </a>
                <!-- <a class="{% active_link 'dash:ajouter'  %}" href="{% url 'dash:ajouter' %}"><span class="material-icons-round">add</span>
                    <h3>Ajouter</h3>
                </a> -->
                <a class="{% active_link 'dash:login'  %}" href="{% url 'dash:login' %}"><span class="material-icons-round">login</span>
                    <h3>Connexion</h3>
                </a>
                <a class="{% active_link 'dash:register'  %}" href="{% url 'dash:register' %}"><span class="material-icons-round">person_add</span>
                    <h3>Inscription</h3>
                </a>
                <a class="{% active_link 'dash:logout'  %}" href="{% url 'dash:logout' %}"><span class="material-icons-round">logout</span>
                    <h3>Déconnexion</h3>
                </a>                
            </div>
        </aside>