{% load static %}
{% load active_link_tags %}


<div class="right">
    <div class="top">
        <button id="menu-btn">
            <span class="material-icons-round">menu</span>
        </button>
        <div class="theme-togler">
            <span class="material-icons-round">light_mode</span>
            <span class="material-icons-round">dark_mode</span>
        </div>
        <div class="profile">
            <div class="info">
                <p>Salut, <b>Gokool</b></p>
                <small class="text-muted">Admin</small>
            </div>
            <div class="profile-photo">
                <img src="{% static 'dash/images/random/14.jpg' %}" alt="">
            </div>
        </div>
    </div>
    <!-- FIN DU TOP -->
    

</div>