{% extends 'dash/index.html' %}
{% load active_link_tags %}
{% load static %}
{% load i18n %}

{% block contenue %}
<center>
    <h1>Ajouter un nouveau chien </h1>

    <form id="dog_register" method="POST" action="{% url 'dash:dog_register' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td>
                    <label for="name_dog">Nom du chien</label>
                    <input type="text" name="name_dog" id="name_dog">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="avatar_dog">image du chien</label>
                    <input type="image" name="avatar_dog" id="avatar_dog" >
                </td>
            </tr>
            <tr>
                <td>
                    <label for="age_month_dog">l'age du chien</label>
                    <input type="date" name="age_month_dog" id="age_month_dog">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sex_dog">sexe du chien</label>
                    <input type="text" name="sex_dog" id="sex_dog">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="weight_dog">le poids du chien</label>
                    <input type="number" name="weight_dog" id="weight_dog">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="id_chip_dog">l'identification par puce </label>
                    <input type="text" name="id_chip_dog" id="id_chip_dog">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="sterilized">steriliser ? :</label>
                    <input type="text" name="sterilized" id="sterilized">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="breed_dog">race du chien</label>
                    <input type="text" name="breed_dog" id="breed_dog">
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Envoyer">
                </td>
            </tr>
        </table>
    </form>
</center>    
{% endblock %}