{% extends 'base/base.html' %}
{% load static %}
{% load active_link_tags %}
{% load i18n %}

{% block contenue %}
    
        {% for dog in dogs %}
            <div class="profile">
                <div class="info">
                    <p>Salut, <b>{{ dog.name_dog }}</b></p>
                    <small class="text-muted">{{ dog.sex_dog }}</small>
                </div>
                <div class="profile-photo">
                    <img src="{{ dog.avatar_dog.url }}" >
                </div>
            </div>         
        {% endfor%}
    
{% endblock %}