    {% extends 'base/base.html'%}
    {% load static %}
    {% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'dash/style.css' %}">
        {% endblock %}
    {% block contenue %}
        
            <h1>Dashboard</h1>

            <div class="date">
                <input type="datetime-local">
            </div>

            <div class="action"><!--CONTENEUR DES CARDS-->
                <div class="card1"><!--start card 1 -->
                    <span class="material-icons-round">pets</span>
                    <div class="middle">
                        <div class="left">
                            <h3>pets profile</h3>
                            <h1>Django</h1>
                        </div>
                        <div class="right">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="pourcentage">
                                <p>81%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">un text a remplir</small>
                </div>
                <!---------------------------- END OF CARD 1--------------------------->
                <div class="card2">
                    <span class="material-icons-round">build</span>
                    <div class="middle">
                        <div class="left">
                            <h3>pets profile2</h3>
                            <h1>Django2</h1>
                        </div>
                        <div class="right">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="pourcentage">
                                <p>72%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">un text a remplir2</small>
                </div>
                <!---------------------------- END OF CARD 2--------------------------->
                <div class="card3">
                    <span class="material-icons-round">favorite</span>
                    <div class="middle">
                        <div class="left">
                            <h3>pets profile3</h3>
                            <h1>Django3</h1>
                        </div>
                        <div class="right">
                            <svg>
                                <circle cx="38" cy="38" r="36"></circle>
                            </svg>
                            <div class="pourcentage">
                                <p>63%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">un text a remplir3</small>
                </div>
                <!---------------------------- END OF CARD 3--------------------------->
                <div class="card4">
                    <span class="material-icons-round">fingerprint</span>
                    <div class="middle">
                        <div class="left">
                            <h3>pets profile4</h3>
                            <h1>Django4</h1>
                        </div>
                        <div class="right">
                                <svg>
                                    <circle cx="38" cy="38" r="36"></circle>
                                </svg>
                            <div class="pourcentage">
                                <p>54%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted">un text a remplir4</small>
                </div>
                <!---------------- END OF CARD 4--------------------------->
            </div>
        
    {% endblock %}

