
{% extends 'base/base.html' %}
{% load static %}
{% load active_link_tags %}
{% load i18n %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'dash/journal.css' %}">
{% endblock %}
{% block contenue %}
    {% for walk in walks %}
    <div class="action1"><!--CONTENEUR DES CARDS-->
        <div class="card"><!--start card 1 -->
            {% for dog in walk.dog.all %}
                <div class="profile-photo">                    
                    <img src="{{dog.avatar_dog.url}}" >
                </div>                
            {% endfor %}             
            <small class="text-muted">begin: {{ walk.begin_time }}</small><br>
            <small class="text-muted">end: {{ walk.end_time }}</small>
            
            <div class="middle">
                <div class="left">
                    <h3>pets profile</h3>
                    <h1>Django</h1>
                </div>
                <div class="right">                   
                    <div class="pourcentage">
                        <p>81%</p>
                    </div>
                </div>
            </div>
            
        </div>
        
            
                     
                    
                        
        </ul>
    </div>    
    {% endfor%}
{% endblock %}