{% extends 'dash/index.html' %}
{% load static %}
{% load active_link_tags %}
{% load i18n %}

{% block contenue %}
<form id="login" method="post" action="{% url 'dash:welcome'%}">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <label for="username">Login</label>
                <input id="username" name="username">
            </td>
            <td>
                <label for="password">Mot de passe</label>
                <input type="password" id="password" name="password">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="connexion">
            </td>
        </tr>
    </table>
</form>
{% endblock %}