
{% extends 'dash/index.html' %}
{% load active_link_tags %}
{% load static %}
{% load i18n %}

{% block contenue %}


<h1>Bienvenue</h1>
<p>
  <strong>Votre nom d'utilisateur est : {{user.username}}</strong>  
</p>
<a href="{% url 'dash:login' %}">Login</a>
{% endblock %}