{% extends 'dash/index.html' %}
{% load static %}
{% load active_link_tags %}
{% load i18n %}

{% block contenue %}
<form id="register" method="post" action="{% url 'dash:registered' %}">
    {% csrf_token %}
    <table>
        <tr>
            <td>
                <label for="user_name">Nom</label>
                <input id="user_name" name="user_name">
            </td>
        </tr>
        <tr>
            <td>
                <label for="user_firstname">Prénom</label>
                <input id="user_firstname" name="user_firstname">
            </td>
        </tr>
        <tr>
            <td>
                <label for="user_email">Email</label>
                <input id="user_email" name="user_email">
            </td>
        </tr>
        <tr>
            <td>
                <label for="user_pwd">Mot de passe</label>
                <input type="password" id="user_pwd" name="user_pwd">
            </td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Enrengistrer">
            </td>
        </tr>
    </table>
</form>
{% if error_message  %}<p><strong>{{ error_message}}</strong></p>{% endif %}
{% endblock %}