
{% extends 'dash/index.html' %}
{% load active_link_tags %}
{% load static %}
{% load i18n %}


{% block contenue %}
<h1>Bienvenue {{user.username}} !</h1>
<p>Connexion réussi</p>
<a href="{% url 'dash:index' %}">Page d'acceuil</a>
{% endblock %}