@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/*---------------- VARIABLES ROOT -------------------*/
:root{
    --color-primary: #7380ec;
    --color-danger: #ff7782;
    --color-succes: #41f1b6; 
    --color-warning: #ffbb55;
    --color-white: #fff;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-primary-variant: #111e88;
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;

    --card-border-radius : 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;

    --card-padding: 1.8rem;
    --padding-1: 1.2rem;

    --box-shadow: 0 2rem 3rem var(--color-light);
}
/*---------- ALL --------------------*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

/*====================================== HTML ===================================*/
html{
    font-size: 14px;
}

/*======================================= BODY =========================================*/
body{
    width: 100vw;
    height: 100vh;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    background: var(--color-background);
    user-select: none;
    overflow-x: hidden;
    color: var(--color-dark);
}

/*==============   CONTAINER ================*/
.container{
    display: grid;
    width: 96% ;
    margin: 0 auto;    
    gap: 1.8rem;
    grid-template-columns: 16rem auto 23rem;
}

/*---------------- ALL LINK -------------*/
a{
    color: var(--color-dark) ;
}
/*---------------- ALL IMAGES -------------*/
img{
    display: block;
    width: 100%;
}
/*---------------- ALL <h1> -------------*/
h1{
    font-weight: 800;
    font-size: 1.8rem;
}
/*---------------- ALL <h2> -------------*/
h2{
    font-size: 1.4rem;
}
/*---------------- ALL <h3> -------------*/
h3{
    font-size: 0.87rem;
}
/*---------------- ALL <h4> -------------*/
h4{
    font-size: 0.8rem;
}
/*---------------- ALL <h5> -------------*/
h5{
    font-size: 0.77rem;
}

/*---------------- ALL small tags -------------*/
small{
    font-size: 0.75rem;
}
/*---------------- ALL profile photos> -------------*/
.profile-photo{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    overflow: hidden;
}

/*---------------- ALL muted texts (details) ------*/
.text-muted{
    color: var(--color-info-dark);
}

/*---------------- ALL <p> -------------*/
p {
    color: var(--color-dark-variant);
}
/*---------------- ALL <b> -------------*/
b {
    color: var(--color-dark);
}

/*---------------- ALL .primary class ------------*/
.primary {
    color: var(--color-primary);
}
/*---------------- ALL .danger class -------------*/
.danger {
    color: var(--color-danger);
}
/*---------------- ALL .success class ------------*/
.success {
    color: var(--color-success);
}
/*---------------- ALL .warning class ------------*/
.warning {
    color: var(--color-warning);
}


/*====================================== ASIDE =============================================*/
aside{
    height: 100vh;
    
}
/*---------------- ASIDE top----------------------*/
aside .top{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.4rem;
}
/*---------------- ASIDE brand name ----------------------*/
aside .logo{
    display: flex;
    gap: 0.8rem ;
    
}
/*---------------- ASIDE logo ----------------------*/
aside .logo img{
    width: 2rem;
    height: 2rem;   
}
/*---------------- ASIDE logo ----------------------*/
aside .brandname{
    color: var(--color-danger);
}
/*---------------- ASIDE close-btn ----------------------*/
aside .close{
    display: none;
}


/*=============================================== SIDEBAR ======================================*/
aside .sidebar {
    
    display: flex;
    flex-direction: column;
    height: 86vh;
    position: relative;
    top: 3rem;
    border-radius: var(--border-radius-1);
}
/*---------------- ASIDE h3 texts ----------------------*/
aside h3 {
    font-weight: 600;
}
/*---------------- SIDEBAR links  ----------------------*/
aside .sidebar a {
    display: flex;
    color: var(--color-info-dark);
    margin-left: 2rem;
    gap: 1rem;
    align-items: center;
    position: relative;
    height: 3.7rem;
    transition: all 300ms ease;
}
/*---------------- SIDEBAR links ICONS----------------------*/
aside .sidebar a span {
    font-size: 1.6rem;
    transition: all 300ms ease ;
}
/*---------------- SIDEBAR links CONNEXION placement --------------*/
aside .sidebar a:nth-last-child(3){
    position: absolute;    
    bottom: 9.4rem;
    width: 100%;
}
/*---------------- SIDEBAR links INSCRIPTION placement --------------*/
aside .sidebar a:nth-last-child(2){
    position: absolute;    
    bottom: 5.7rem;
    width: 100%;
}
/*---------------- SIDEBAR links DECONNEXION placement --------------*/
aside .sidebar a:last-child{
    position: absolute;    
    bottom: 2rem;
    width: 100%;
}
/*---------------- SIDEBAR links ACTIVE----------------------*/
aside .sidebar a.active {
    background: var(--color-light);
    color: var(--color-primary);
    margin-left: 0;
}
/*------- SIDEBAR links ACTIVE BEFORE---(trait verticale sur sidebare)--*/
aside .sidebar a.active::before{
    content: "";
    width: 6px;
    height: 100%;
    background: var(--color-primary	);
    border-radius: var(--border-radius-1);
}
/*---------------- SIDEBAR links ICON styling----------------------*/
aside .sidebar a.active span {
    color: var(--color-primary);
    margin-left: calc(1rem - 3px);
}
/*---------------- SIDEBAR links  HOVER ----------------------*/
aside .sidebar a:hover {
    color: var(--color-primary);
}
/*---------------- SIDEBAR links ICON HOVER ----------------------*/
aside .sidebar a:hover span{
    margin-left: 1rem;
}
/*---------------- SIDEBAR objectif-count ----------------------*/
aside .sidebar .objectif-count {
    background: var(--color-danger);
    color: var(--color-white);
    padding: 2px 10px;
    font-size: 11px;
    border-radius: var(--border-radius-1);
}


/*======================== MAIN ======================*/

main{
    margin-top: 1.4rem ;
}
/*---------------- MAIN date----------------------*/
main .date {
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.6rem;
    font-weight: bold;
}
/*---------------- MAIN input type"date"----------------------*/
main .date input[type="datetime-local"] {
    background: transparent;
    color: var(--color-dark);    
}
/*---------------- MAIN container des cards----------------------*/
main .action {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}
/*---------------- MAIN tous les cartes----------------------*/
main .action > div {
    background: var(--color-white);
    padding: var(--card-padding);
    border-radius: var(--card-border-radius);
    margin-top: 1rem;
    box-shadow: var(--box-shadow);
    transition: all 300 ease;
}
/*---------------- MAIN tous les cartes hover----------------------*/
main .action > div:hover { 
    box-shadow: none;
}
/*---------------- MAIN ICON de tous les cartes ----------------------*/
main .action > div span {
    padding: 0.5rem;
    background: var(--color-primary);
    border-radius: 50%;
    color: var(--color-white);
    font-size: 2rem;
}
/*---------------- MAIN ICON carte 2 ----------------------*/
main .action > div.card2 span {
    background: var(--color-primary-variant) ;
}
/*---------------- MAIN ICON carte 3 ----------------------*/
main .action > div.card3 span { 
    background: var(--color-danger) ;
}
/*---------------- MAIN ICON carte 4 ----------------------*/
main .action > div.card4 span { 
    background: var(--color-succes  ) ;
}
/*---------------- MAIN milieu de card  ----------------------*/
main .action > div .middle {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
/*---------------- MAIN milieu h3 ajustement de la taille  ----------------------*/
h3 {
    margin: 1rem 0 0.6rem;
    font-size: 1rem;
}
/*---------------- MAIN milieu de card  rightside ----------------------*/
main .action .right {
    
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}
/*---------------- MAIN milieu de card SVG ----------------------*/
main .action svg{    
    width: 7rem;
    height: 7rem;
}
/*---------------- MAIN milieu de card cercle ----------------------*/
main .action svg circle {
    fill: none;
    stroke: var(--color-primary);
    stroke-width: 12;
    stroke-linecap: round;/*--- la fin su stroke est rond ---*/
    transform: translate(8px, 8px);
}






